@using GrokMob
@using GrokMob.Models
@model IEnumerable<Comment>

@foreach (var comment in Model) {
<div class="recentActivity">
  <img src="/assets/icons/chat-.png" />
  <label>@comment.MemberHandle @comment.CreatedAt</label><br />
  <label>@comment.Content</label>
</div>
}

@if(!Model.Any()) {
  <h4>No comments</h4>
}