<ul>
  <li>@Html.ActionLink("Dashboard", "index", "dashboard")</li>
  <li>@Html.ActionLink("Meetings", "index", "meetings")</li>
  <li>@Html.ActionLink("Members", "index", "members")</li>
  <li><a href="#">Mailing List</a></li>
</ul>