@using GrokMob
@using GrokMob.Models
@model IDictionary<String, String>
         
<h3>Stats</h3>

@foreach (var stat in Model) {
  <p>@stat.Value @stat.Key</p>
}

@if (!Model.Any()) {
<p>No available stats</p>
}