@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

* {font-size:100%;}

/* base elements ------------------------------------------ */

.clearfix:after {
  content:".";
  display:none;
  clear:both;
}

body {
  background-color:#FFFFFF;
  width:60%;
  margin:auto;
  font-family: 'Droid Sans', sans-serif;
}

h1,h2,h3 { margin:0.5em 0; }
h1 {font-size:3em;}
h2,h3 {color:#4F4F4F;}
h2 {font-size:1.8em;}
h3 {font-size:1.6em;}

a.button {
  text-shadow:1px 1px 1px #ABABAB;
  background: #f1f1f1; /* Old browsers */
  background: -moz-linear-gradient(top,  #f1f1f1 0%, #ffffff 48%, #ffffff 50%, #f1f1f1 58%, #e8e8e8 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(48%,#ffffff), color-stop(50%,#ffffff), color-stop(58%,#f1f1f1), color-stop(99%,#e8e8e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f1f1f1 0%,#ffffff 48%,#ffffff 50%,#f1f1f1 58%,#e8e8e8 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f1f1f1 0%,#ffffff 48%,#ffffff 50%,#f1f1f1 58%,#e8e8e8 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f1f1f1 0%,#ffffff 48%,#ffffff 50%,#f1f1f1 58%,#e8e8e8 99%); /* IE10+ */
  background: linear-gradient(top,  #f1f1f1 0%,#ffffff 48%,#ffffff 50%,#f1f1f1 58%,#e8e8e8 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}

a.button:hover {
  background: #e8e8e8; /* Old browsers */
  background: -moz-linear-gradient(top,  #e8e8e8 1%, #f1f1f1 42%, #ffffff 50%, #ffffff 52%, #f1f1f1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e8e8e8), color-stop(42%,#f1f1f1), color-stop(50%,#ffffff), color-stop(52%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e8e8e8 1%,#f1f1f1 42%,#ffffff 50%,#ffffff 52%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e8e8e8 1%,#f1f1f1 42%,#ffffff 50%,#ffffff 52%,#f1f1f1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e8e8e8 1%,#f1f1f1 42%,#ffffff 50%,#ffffff 52%,#f1f1f1 100%); /* IE10+ */
  background: linear-gradient(top,  #e8e8e8 1%,#f1f1f1 42%,#ffffff 50%,#ffffff 52%,#f1f1f1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

a.button:link, a.button:visited {
  border:1px solid #CCCCCC;
  display:block;
  width:6em;
  line-height:1.4em;
  padding:0.2em;
  text-decoration:none;
  text-align:center;
  border-radius:0.5em;
  color:#000000;
  text-shadow:1px 1px 1px #ABABAB;
}

fieldset > div {
  margin:2%;
  padding:2%;
}

fieldset label {
  display:block;
}

.message.error {
  border:2px solid #ED5959;
  padding:1em;
  background-color:#FDECEC;
  border-radius:0.8em;
  box-shadow:0px 0px 5px #888;
}

/* page divisions ----------------------------------------- */
header {
  border-top:1px solid #CCCCCC;
  border-bottom:1px solid #CCCCCC;
  margin:1% 0;
  padding:2%;
  background: #f1f1f1; /* Old browsers */
  background: -moz-linear-gradient(top,  #f1f1f1 0%, #ffffff 48%, #ffffff 50%, #f1f1f1 58%, #e8e8e8 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(48%,#ffffff), color-stop(50%,#ffffff), color-stop(58%,#f1f1f1), color-stop(99%,#e8e8e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f1f1f1 0%,#ffffff 48%,#ffffff 50%,#f1f1f1 58%,#e8e8e8 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f1f1f1 0%,#ffffff 48%,#ffffff 50%,#f1f1f1 58%,#e8e8e8 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f1f1f1 0%,#ffffff 48%,#ffffff 50%,#f1f1f1 58%,#e8e8e8 99%); /* IE10+ */
  background: linear-gradient(top,  #f1f1f1 0%,#ffffff 48%,#ffffff 50%,#f1f1f1 58%,#e8e8e8 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}

header h1 {
  text-shadow:1px 1px 1px #ABABAB;
  font-weight:bold;
}

#content {
  width:100%;
  padding-top:2%;
  background-color:#F1F1F1;
}

#inner-content {
  width:92%;
  margin:auto;
  padding:2%;
  background-color:#FFFFFF;
  border:1px solid #CCCCCC;
  border-radius:0.5em;
}

#quickactions {
  width:30%;
  float:left;
}

#contentfocus {
  width:65%;
  float:right;
}

footer {
  clear:both;
  text-align:center;
  font-size:0.6em;
  padding-top:2em;
}

/* front page ---------------------------- */
#contentfocus article {
  font-size:1.2em;
  margin-bottom:2em;
}

#contentfocus article h1 {
  font-size:1.8em;
  text-shadow:1px 1px 3px #ccc;
}

#contentfocus #anouncements dl {
  margin:0;
  padding:0;
}

#contentfocus #anouncements dl dt {
  font-weight:bold;
  margin:1em 0;
}

#contentfocus #anouncements dl dd {
  padding-left:2%;
}

#contentfocus #upcoming ul {
  list-style:disc;
  padding-left:2em;
}

/* runs --------------------------------------------------- */

#addrun .timesegment {
  width:3em;
}

#contentfocus .run {
  min-height:20em;
  position:relative;
}

#contentfocus .run dl {
  position:absolute;
  right:0;
  top:0;
  padding:5%;
  background-color:#FFE9D1;
  border:5px solid #FFBA6B;
  border-radius:5%;
}

#contentfocus .run dt {
  font-weight:bold;
  font-size:1.5em;
}

#contentfocus .run dd {
  font-size:1.1em;
  padding-left:8%;
  line-height:1.8em;
}

/* playlists ---------------------------------------------- */

.playlist {
  clear:both;
  padding:5% 0;
}
.playlist img {
  float:left;
  padding-right:5%;
}
.playlist label {

}

/* login ------------------------------------------------------*/
#quickactions #logininstructions p {
  line-height:1.5em;
  margin-bottom:1.5em;
}