<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.5.0" />
  <package id="Nancy.Hosting.Aspnet" version="0.5.0" />
  <package id="ndjango" version="0.9.9.0" />
  <package id="Nancy.Viewengines.NDjango" version="0.5.0" />
  <package id="Nancy.Viewengines.Razor" version="0.5.0" />
  <package id="Spark" version="1.5.1" />
  <package id="Nancy.Viewengines.Spark" version="0.5.0" />
  <package id="Nancy.Authentication.Forms" version="0.5.0" />
  <package id="MarkdownSharp" version="1.13.0.0" />
</packages>