<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Simple.Data.Properties.Settings.DefaultConnectionString"
      connectionString="data source=.;initial catalog=HamstringFX;integrated security=true"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers>
    <compilation debug="true"/>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </handlers>
  </system.webServer>
</configuration>