<ul>
  <li>@Html.ActionLink("Dashboard", "dashboard", "home")</li>
  <li><a href="#">Meetings</a></li>
  <li>@Html.ActionLink("Members", "members", "home")</li>
  <li><a href="#">Comments</a></li>
  <li><a href="#">Mailing List</a></li>
</ul>