$background = #ffffff
$headerClr = #E53F14
$headerShadowClr = #000000
$anchorClr = #839106
$anchorHighlightClr = #F26F4C
$anchorHoverClr = #CAE014

body
  font-size:100%
  font-family:'Open Sans', sans-serif
  background-color:$background

h1
  font-size:3em
h2
  font-size:2.5em
h3
  font-size:2em

a:link, a:visited
  color:$anchorClr
  text-decoration:none

a:hover
  color:$anchorHoverClr

header
  width:60%
  margin:3em auto 0 auto
  color:$headerClr

  h1 > span
    font-style:italic
    padding-left:0.1em
    font-size:0.9em

  p
    line-height:0.9em

#tagcloud
  width:60%
  margin:0 auto
  border-bottom:1px solid silver
  padding:2em 0
  text-align:center

  > a
    display:inline-block
    word-wrap:break-word
    font-size:2em
    padding:0 0.5em
    line-height:1.5em

  > a:link, > a:visited
    -webkit-transition:color 0.2s ease-out

  > a:link.current, > a:visited.current
    color:$anchorHighlightClr
    -webkit-transition:color 0.4s ease-in

#offers
  position:relative
  width:80%
  margin:0 auto
  overflow:hidden
  border-bottom:1px solid silver
  padding:0 0 2em 0

  #moar
    position:absolute
    bottom:0
    right:5px
    font-size:0.8em

  #viewing span.invisible
    display:none

  #viewing span.fadein
    opacity:1
    -webkit-transition:all 0.5s ease-in

  #viewing span
    position:relative
    display:block
    float:left
    width:30%
    padding:3em 0
    margin:0 1em
    font-size:0.8em
    opacity:0

    div.frame
      padding:0
      margin:0 1.2em 0 0
      border:solid 4px #cccccc
      border-radius:1em
      overflow:hidden
      float:left
      height:205px
      box-shadow:0px 0px 10px #000000

    a
      color:#000000
      font-size:2em
      font-weight:bold

    a:hover
      color:#666666

    p
      position:absolute
      left:172px
      line-height:1.6em

#search
  width:30%
  margin:3em auto

  label
    font-style:italic

  input
    margin:0 0.5em


