<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jessica" version="0.6.1" />
  <package id="Ninject" version="2.2.1.0" />
  <package id="Jessica-Factory-Ninject" version="0.6.0" />
  <package id="structuremap" version="2.6.2" />
  <package id="Jessica-Factory-StructureMap" version="0.6.0" />
  <package id="DotLiquid" version="1.5.0.0" />
  <package id="Jessica-ViewEngine-DotLiquid" version="0.5.0" />
  <package id="MarkdownSharp" version="1.13.0.0" />
  <package id="jessica-viewengine-markdown" version="1.0.0" />
  <package id="jessica-viewengine-textile" version="1.0.0" />
  <package id="System.Data.SQLite" version="1.0.66.0" />
</packages>